<p style="color: green"><%= notice %></p>

<%= render @pfc_ctrl_account_type %>

<div>
  <%= link_to "Edit this pfc ctrl account type", edit_pfc_ctrl_account_type_path(@pfc_ctrl_account_type) %> |
  <%= link_to "Back to pfc ctrl account types", pfc_ctrl_account_types_path %>

  <%= button_to "Destroy this pfc ctrl account type", @pfc_ctrl_account_type, method: :delete %>
</div>
